.chat {
    min-height: 100vh;
    background: linear-gradient(#596aff, #383699);
    display: grid;
    place-items: center;
}

.chat-container {
    width: 95%;
    max-width: 1000px;
    height: 75vh;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

@media (max-width: 600px) {
    .chat-container {
        display: flex;
        width: 100%;
        height: 100vh;
    }

    .ls {
        width: 100%;
        display: block;
    }

    .chat-box {
        display: none;
    }

    .chat-container.has-chat .ls {
        display: none;
    }

    .chat-container.has-chat .chat-box {
        display: block;
        width: 100%;
        height: 100vh;
    }

    .chat-welcome {
        display: none !important;
    }
}