.chat-box {
    height: 75vh;
    position: relative;
    background-color: #f1f5ff;

}

.chat-user {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #c6c6c6;
}

.chat-user img {
    width: 25px;
    border-radius: 50%;
}

.chat-user img:first-child {
    width: 38px;
    aspect-ratio: 1/1;
}

.chat-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-user p {
    font-size: 20px;
    color: #393939;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.participants {
    font-size: 12px;
    color: #808080;
}

.chat-user .help {
    width: 25px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.chat-user .help:hover {
    opacity: 1;
}

.chat-input {
    display: flex;
    align-items: center;
    gap: 12;
    padding: 10px 15px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.chat-input img {
    width: 30px;
    cursor: pointer;
}

.chat-input label {
    display: flex;

}

.chat-input label img {
    width: 22px;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
}

.chat-input input {
    flex: 1;
    border: none;
    outline: none;
}

.chat-msg {
    height: calc(100% - 80px);
    overflow-y: scroll;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}


.s-msg div img,
.r-msg div img {
    width: 27px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.s-msg,
.r-msg {
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 0px 15px;
    gap: 5px;
}

.r-msg {
    flex-direction: row-reverse;
    justify-content: start;
}

.msg-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.r-msg .msg-content {
    align-items: flex-start;
}

.sender-name {
    font-size: 9px;
    color: #555;
    margin-bottom: 2px;
    font-weight: 500;
}

.msg {
    color: white;
    background-color: #077eff;
    padding: 8px;
    max-width: 200px;
    font-size: 11px;
    font-weight: 300;
    border-radius: 8px 8px 0px 8px;
    margin-bottom: 25px;
    /* Reduced from 30px to accommodate name */
}

.r-msg .msg {
    border-radius: 8px 8px 8px 0px;
}

.r-msg div,
.s-msg div {
    text-align: center;
    font-size: 9px;
}

.msg-img {
    max-width: 230px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.chat-welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #393939;
}

.chat-welcome img {
    width: 60px;
}